<!DOCTYPE html>
<html lang="en" ng-app="ApiParameter">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>AS Rest API Admin DashBoard</title>

	<!-- Bootstrap Core CSS -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="bootstrap/css/sb-admin.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="bootstrap/font-awesome/css/font-awesome.min.css"
		  rel="stylesheet" type="text/css">

    <style>

        tr:hover.showList{
            border:2px inset;
        }

    </style>



</head>

<body ng-controller="ApiParameterController">

<div id="wrapper">


	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->

		<!-- Top Menu Items -->
		<div class="navbar ">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" >Rest Easy API Admin DashBoard</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Admin Home</a></li>
						<li ng-show="loggedON" ng-click="logOut()" ><a style="left: 1020px;cursor: pointer">LogOut</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <!--	<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="ApiParameter.html"><i class="fa fa-fw fa-dashboard"></i>API Parameter</a></li>
                    <li class="active"><a href="WfParameter.html"><i class="fa fa-fw fa-dashboard"></i> API Report Parameters</a></li>
                </ul>
            </div>
             /.navbar-collapse -->
	</nav><!-- Navigation -->

	<div id="page-wrapper">

		<div class="row">
				<div class="col-lg-6">
					<h1 class="page-header">
						API PARAMETER OPERATIONS
					</h1>
				</div>
			</div> <!-- Heading-->

		<div class="row" >

			<div class="col-md-5">

				<button type="button" class="btn btn-default" style="float: left " title="List of API's" ng-click="goToAPIList()" ng-hide="InsertParaForm || InsertWFForm ||listOfAPI"><!--show API's list-->

					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span>
				</button>

				<button type="button" class="btn btn-default" style="float: left ;margin-left: 10px" title="Update Table" ng-click="showAPIForm()" ng-show="showupdateform"> <!--show Update MOde in View MOde-->
					<span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
				</button>

			<!--	<button type="button" class="btn btn-default" style="float: left " title="View mode" ng-click="showAPIDataList()" ng-show="ShowUpdateDeleteForm"><!--show API's list
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span>
				</button> -->

			</div>

		</div><!-- Button Group-->

		<h3> {{selectedAPI}}</h3>

		<div ng-show="listOfAPI">

			<h4 style="margin-left:2cm">LIST OF API'S AVAILABLE</h4>

			<table  class ="table table-hover" cellspacing="15"  style="margin-left:3cm ; width: 35%;">

				<tr >

				</tr>
				<tr class ="showList" ng-repeat="items in name" >
					<td ng-click="loadAPIDetail(items)" style="cursor:pointer; display:block;background: whitesmoke ;border:1px none #8c8c8c;text-decoration:none;font-weight:100;line-height:1.5em;padding:0.5em;color:#2b542c">{{items}}</td>


                </tr>
			</table>
		</div> <!-- List of API's-->

		<div  ng-show="showupdateform" style="margin-top: 0.5cm">

			<div >


				<h4>PARAMETERS</h4>

				<div ng-show="showtableParameters">

					<table class="table table-bordered table-hover table-striped">

						<tr>
							<th>Parameter Name</th>
							<th>Field Name</th>
							<th>Operation Type</th>
							<th>Regex</th>
							<th>Traverse Path</th>
							<th>Mandatory</th>
							<th>Default Value</th>
							<th>Post Body</th>
							<th>Index</th>
							<th>Optional Parent</th>
							<th>Parents</th>
						</tr>
						<tbody>

						<tr ng-repeat="x in list track by $index">
							<td ng-trim="false">{{x.parameterName}}</td>
							<td ng-trim="false">{{x.fieldName}}</td>
							<td ng-trim="false">{{x.type}}</td>
							<td ng-trim="false">{{x.regex}}</td>
							<td ng-trim="false">{{x.traversePath}}</td>
							<td ng-trim="false">{{x.mandatory}}</td>
							<td ng-trim="false">{{x.defaultValue}}</td>
							<td ng-trim="false">{{x.postBody}}</td>
							<td ng-trim="false">{{x.position}}</td>
							<td ng-trim="false">{{x.optionalParent}}</td>
							<td ng-trim="false">{{x.parents}}</td>
						</tr>
						</tbody>
					</table>
			</div> <!--PARAMETER TABLE VIEW MODE -->
				<div ng-hide ="empty">
					<h4 style="margin-top: 0.5cm"> Dependent Reports</h4>
					<p ng-show="errorMessage">Could not fetch Work Flow results.This API might not have any dependent reports</p>
					<div ng-show="showtableWorkFlow">
						<table class="table table-bordered table-hover table-striped">
							<thead>
							<tr>
								<th>REFERENCE API</th>
								<th>PRIORITY</th>
								<th>API URL</th>
								<th>INPUT PARAMETERS</th>
								<th>PARAMETERS TO CHECK</th>
								<th>HTTP METHOD</th>
								<th>PATH PARAMS</th>
							</tr>
							</thead>
							<tbody>

							<tr ng-repeat="x in WFlist track by $index">
								<td ng-trim="false">{{x.refAPI}}</td>
								<td ng-trim="false">{{x.sequence}}</td>
								<td ng-trim="false">{{x.apiURL}}</td>
								<td ng-trim="false">{{x.inputParams}}</td>
								<td ng-trim="false">{{x.checkParam}}</td>
								<td ng-trim="false">{{x.httpMethod}}</td>
								<td ng-trim="false">{{x.pathParams}}</td>
							</tr>
							</tbody>
						</table>
					</div><!--WORKFLOW TABLE VIEW MODE -->
				</div>

        </div>

		</div><!-- VIEW MODE-->

		<div ng-show="ShowUpdateDeleteForm" id="updateAPI_by_id" style="margin-top: 0.5cm">

			<div>
				<h4>Parameters</h4>
				<form  ng-model="UpdateApiColumn" >
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th>Parameter Name</th>
							<th>Field Name</th>
							<th>Operation Type</th>
							<th>Traverse Path</th>
							<th>Default Value</th>
							<th>Regex</th>
							<th>Post Body</th>
							<th>Position</th>
							<th>Optional Parent</th>
							<th>Mandatory</th>
							<th>Parents</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>
						<tbody>

							<tr ng-repeat="x in list ">

							<td><input type="text" class="form-control"
									   name="parameterName" ng-model="x.parameterName"
									   placeholder="{{x.parameterName}}" required ng-minlength="1"
									   ng-maxlength="100"></td>
							<td><input type="text" class="form-control"
									   name="fieldName" ng-model="x.fieldName"
									   placeholder="{{ x.fieldName}}"></td>
							<td><input type="number" class="form-control"
									   name="type" ng-model="x.type" required min="0" max="1"
									   placeholder="{{x.type}}"></td>
							<td><input type="text" class="form-control"
									   name="traversePath" ng-model="x.traversePath"
									   placeholder="{{x.traversePath}}"></td>
							<td><input type="text" class="form-control"
									   name="defaultValue" ng-model="x.defaultValue"
									   placeholder="{{x.defaultValue}}"></td>
							<td><input class="form-control" name="regex"
									   ng-model="x.regex" placeholder="{{x.regex}}"></td>
							<td><input type="number" class="form-control"
									   name="postBody" ng-model="x.postBody" required min="0"
									   max="1" placeholder="{{x.postBody}}"></td>
							<td><input type="text" class="form-control"
									   name="position" ng-model="x.position"
									   placeholder="{{x.position}}"></td>
							<td><input type="checkbox" ng-model="x.optionalParent"
									   placeholder="{{x.optionalParent}}" ng-true-value="'True'"
									   ng-false-value="'False'"></td>
							<td><input type="checkbox" ng-model="x.mandatory"
									   placeholder="{{x.mandatory}}" ng-true-value="'True'"
									   ng-false-value="'False'"></td>
							<td><input class="form-control" name="parents"
									   ng-model="x.parents" placeholder="{{x.parents}}"></td>
							<td><button type="submit" class="btn btn-default"
										ng-click="updateValue(x,'AS_RESTAPI_PARAMETERS')" ng-disabled="updatebutton">
								<b>Update</b>
							</button></td>
							<td><button type="submit" class="btn btn-default"
										ng-click="deleteColumn(x.columnid,'AS_RESTAPI_PARAMETERS')"
										ng-disabled="deletebutton">
								<b>Delete</b>
							</button></td>
						</tr>
						</tbody>
					</table>
				</form>

				<button type="button" class="btn btn-default"  title="Add new Parameter" ng-click="showInsertParaForm()" ><!--show API's list-->
					<span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
				</button>

			</div> <!--PARAMETER TABLE UPDATE MODE -->

			<div style ="margin-top: 0.5cm">
				<h4> Dependent Reports</h4>
				<p ng-show="errorMessage">Could not fetch Work Flow results.This API might not have any dependent reports</p>
			    <form  ng-model="UpdateWFColumn" novalidate >
                    <table ng-show="showtableWorkFlow" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>API ID</th>
                            <th>REFERENCE API</th>
                            <th>SEQUENCE</th>
                            <th>API URL</th>
                            <th>INPUT PARAMETERS</th>
                            <th>PARAMETERS TO CHECK</th>
                            <th>HTTP METHOD</th>
                            <th>PATH PARAMS</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in WFlist ">

                            <td><input type="number" class="form-control" contenteditable="false" name="apiID" ng-model="x.apiID" placeholder="{{x.apiID}}" required ng-minlength="1" ng-maxlength="10"></td>
                            <td><input type="text" class="form-control" name="refAPI" ng-model="x.refAPI" placeholder="{{ x.refAPI}}"  ></td>
                            <td><input type="number" class="form-control" name="sequence" ng-model="x.sequence" required min="1" max="20"
                                       placeholder="{{x.sequence}}" ></td>
                            <td><input type="text" class="form-control" name="apiURL" ng-model="x.apiURL"placeholder="{{x.apiURL}}" required  pattern="http://.+" ></td>
                            <td><input class="form-control"	name="inputParams" ng-model="x.inputParams" placeholder="{{x.inputParams}}" required pattern="^[a-zA-Z0-9:,]*$" ></td>
                            <td><input type="text" class="form-control" name="checkParam" ng-model="x.checkParam" placeholder="{{x.checkParam}}"></td>
                            <td><input class="form-control"	name="httpMethod" ng-model="x.httpMethod" placeholder="{{x.httpMethod}}" required ></td>
                            <td><input type="text" class="form-control" name="pathParams" ng-model="x.pathParams" placeholder="{{x.pathParams}}"></td>
                            <td><button type="submit" class="btn btn-default" ng-click="updateValue(x,'AS_RESTAPI_WORKFLOW')" ng-disabled="x.form.$invalid" ><b>Update</b></button></td>
                            <td><button type="submit" class="btn btn-default" ng-click="deleteColumn(x.columnid,'AS_RESTAPI_WORKFLOW')" ng-disabled="x.form.$invalid" ><b>Delete</b></button></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
				<button type="button" class="btn btn-default" style="float: left " title="Add new dependent report" ng-click="showInsertWFForm()" >
					<span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
				</button>
            </div><!--WORKFLOW TABLE UPDATE MODE -->

		</div> <!-- UPDATE  MODE-->

		<div class="row" ng-show="InsertParaForm">

			<div>
					<div class="col-lg-12">
						<div class="panel panel-default">
							<!-- ng-show="showInsertForm" -->
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class=""></i> Insert New Parameter
								</h3>
							</div>
							<div class="panel-body">

								<form role="form" name="apiColumn.form" novalidate >
									<div class="form-group">
										<div class="row">
											<div class="col-md-6">

												<label>API NAME</label>
												<input type="text"
													   class="form-control" name="apiID"
													   ng-model="apiColumn.apiID"
													   value="{{updateAPI_by_id}}" placeholder= {{apiName}} disabled>

											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>PARAMETER NAME</label> <input type="text"
																					 class="form-control" name="parameterName"
																					 ng-model="apiColumn.parameterName"
																					 value="{{apiColumn.parameterName}}" required>
												<p class="help-block">SAN , AccountStatus etc</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>FIELD NAME</label> <input type="text"
																				 class="form-control" name="fieldName"
																				 ng-model="apiColumn.fieldName"
																				 value="{{apiColumn.fieldName}}" required>
												<p class="help-block">SAN , AccountStatus etc</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2">
											<div class="form-group">
												<label>OPERATION TYPE</label> <select class="form-control"
																					  name="type" ng-model="apiColumn.type">
												<option value="{{apiColumn.type}}" selected>0</option>
												<option value="{{apiColumn.type}}">1</option>
											</select>
												<p class="help-block">0 or 1</p>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>TRAVERSE PATH</label> <input type="text"
																					class="form-control" name="traversePath"
																					ng-model="apiColumn.traversePath"
																					value="{{apiColumn.traversePath}}">
												<p class="help-block">root/tag1/tag2/</p>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label>DEFAULT VALUE</label> <input class="form-control"
																					name="defaultValue" ng-model="apiColumn.defaultValue"
																					value="{{apiColumn.defaultValue}}">
												<p class="help-block">Add BandWidth Success</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>REGEX</label> <input class="form-control"
																			name="regex" value="{{apiColumn.regex}}"
																			ng-model="apiColumn.regex">
												<p class="help-block">Example: [0-9]*</p>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label>POST BODY</label> <select class="form-control"
																				 name="postBody" ng-model="apiColumn.postBody">
												<option value="{{apiColumn.postBody}}" selected>0</option>
												<option value="{{apiColumn.postBody  }}">1</option>
											</select>
												<p class="help-block">0 or 1</p>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Position</label> <input class="form-control"
																			   name="position" ng-model="apiColumn.position"
																			   value="{{apiColumn.position}}">
												<p class="help-block">
													Example
													<PurchaseDealList> </PurchaseDealList>
												</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2">
											<div class="form-group">
												<label>OPTIONAL PARENT</label> <input type="checkbox"
																					  ng-model="apiColumn.optionalParent" ng-true-value="'True'"
																					  ng-false-value="'False'" />
												<p class="help-block">yes or no</p>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label>MANDATORY</label> <input type="checkbox"
																				ng-true-value="'True'" ng-false-value="'False'"
																				ng-model="apiColumn.mandatory" />
												<p class="help-block">yes or no</p>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>PARENTS</label> <input class="form-control"
																			  name="parents" ng-model="apiColumn.parents"
																			  value="{{apiColumn.parents}}">
												<p class="help-block">
													Example
													<PurchaseDealList> </PurchaseDealList>
												</p>
											</div>
										</div>
									</div>
									<button type="button" class="btn btn-default" style="float: left; margin-left: 1cm" title="Cancel operation" ng-click="showAPIForm()">
										<span >Cancel</span>
									</button>
									<button type="submit" class="btn btn-default" style="float: left; margin-left: 1cm"
											ng-disabled="apiColumn.form.$invalid" ng-click="addPara()">
										<b>INSERT</b>
									</button>
								</form>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div><!-- INSERT FORM -->

		</div> <!-- Insert new parameter form for UPDATE  MODE-->

		<div class="row" ng-show="InsertWFForm">

			<div>
				<div class="col-lg-12">
					<div class="panel panel-default">
						<!-- ng-show="showInsertForm" -->
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class=""></i> Insert New Dependent Report
							</h3>
						</div>
						<div class="panel-body">

							<form name=wfColumn.form novalidate >
								<div class="form-group">
									<div class="row">
									<!--	<div class="col-md-4">

											<label>API NAME</label>
											<input type="text"  class="form-control" name="apiID" disabled value={{selectedAPI}}
												   ng-model="wfColumn.apiID">
										</div> -->


										<div class="col-md-4">
											<div class="form-group">
												<label>Reference API</label>
												<select class="form-control" name="refAPI"
														ng-model="wfColumn.refAPI" ng-options= "x for x in name" required>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Sequence</label>
												<input type="number"
													   class="form-control" name=apiURL
													   ng-model="wfColumn.sequence" value="{{wfColumn.sequence}}" required  max=20 min=1>

											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>API URL</label> <input type="text"
																		  class="form-control" name=apiURL
																		  ng-model="wfColumn.apiURL" value="{{wfColumn.apiURL}}" required  pattern="http://.+" title="Include http://">
											<p class="help-block"> Include http://</p>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>Input Param</label> <input type="text"
																			  class="form-control" name="inputParams"
																			  ng-model="wfColumn.inputParams" value="{{wfColumn.inputParams}}" required pattern="^[a-zA-Z0-9:,]*$">
											<p class="help-block">SAN:SAN,DealName:DealName,Price:Price,Quantity:Quantity</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Check Param</label> <input class="form-control"
																			  name="checkParam" ng-model="wfColumn.checkParam"
																			  value={{wfColumn.checkParam}} >
											<p class="help-block">{"PARAMS":[{"Name":"AccountStatus","Value":"10100","Location":"AccountInforResponseMessage"}]}</p>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label>Http Method</label>
											<select class="form-control" required
													name=httpMethod ng-model="wfColumn.httpMethod" >
												<option value="{{wfColumn.httpMethod}}">POST</option>
												<option value="{{wfColumn.httpMethod}}">GET</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Path Params</label> <input class="form-control" name="pathParams" ng-model="wfColumn.pathParams" value="{{wfColumn.pathParams}}" >
											<p class="help-block">
												SAN/ESN
											</p>
										</div>
									</div>
								</div>
								<button type="button" class="btn btn-default" style="float: left; margin-left: 1cm" title="Cancel operation" ng-click="showAPIForm()">
									<span >Cancel</span>
								</button>
								<button type="submit" class="btn btn-default" ng-disabled="wfColumn.form.$invalid" ng-click="addWFPara()">
									<b>INSERT</b>
								</button>
							</form>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>

		</div>


	</div> <!-- API html page start -->

</div>

<script src="bootstrap/js/jquery.js" type="text/javascript"></script>
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-cookies.min.js"></script>
<script src="MainController.js" type="text/javascript"></script>
<script type="text/javascript">
    setTimeout(function() {
        document.body.style.background = 'white';
    }, 100000);

    window.onload = function() {
        document.body.style.background = 'white';
    };

    function showAPIForm() {
        console.log("in show API form")
        var y = document.getElementById('insertformdiv');
        var x = document.getElementById("updateAPI_by_id");
        if (y.style.display === 'block') {
            y.style.display = 'none';

        } else {
            y.style.display = 'block';
            x.style.display = 'none';

        }
    }
</script>


</body>

</html>
