<!DOCTYPE html>
<html lang="en" ng-app="ApiParameter">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>AS Rest API Admin DashBoard</title>

	<!-- Bootstrap Core CSS -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="bootstrap/css/sb-admin.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="bootstrap/font-awesome/css/font-awesome.min.css"
		  rel="stylesheet" type="text/css">
</head>

<body ng-controller="ApiParameterController">


<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->

	<!-- Top Menu Items -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Rest Easy API Admin DashBoard</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#"></a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<!-- /.navbar-collapse -->

</nav>
<br>
<br>
<br>
<br>
<br>
<div id="page-wrapper">

	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row">
			<!-- Page Heading -->
			<div class="row">
				<div class="row"></div>
				<div class="row">

					<div class="col-lg-12">
						<div class="col-lg-4"></div>
						<div class="col-lg-4">

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Login</h3>
								</div>
								<div class="panel-body">
									<form role="form"  ng-model="User" name="User.form" novalidate>

										<div class="form-group">
											<label>Username</label>
											<input type=text class="form-control" name=username
												   ng-model="User.userName" required>
										</div>
										<div class="form-group">
											<label>Password</label>
											<input type=password class="form-control"
												   name=password ng-model="User.password"
												   required >
										</div>
										<div class="form-group" align="center">
											<button type="submit" class="btn btn-default" ng-disabled="User.form.$invalid" ng-click="login()" ><b>Login</b></button>
										</div>
									</form>

								</div>
							</div>

						</div>

						<div class="col-lg-4"></div>
					</div>
				</div>
				<!-- /.row -->
				<div class="row"></div>
				<div class="row"></div>
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
</div>
<!-- jQuery -->
<script src="bootstrap/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-cookies.min.js"></script>
<script src="MainController.js"></script>
<script>
    setTimeout(function() {
        document.body.style.background = 'white';
    }, 100000);

    window.onload = function() {
        document.body.style.background = 'white';

    };

</script>



</body>

</html>
